@font-face {
  font-family: 'Shrikhand';
  src:  url('./../../assets/fonts/shrikhand-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap; /* Define how the browser behaves during download */
}

@font-face {
  font-family: 'Roboto';
  src:  url('./../../assets/fonts/roboto-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:  url('./../../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:  url('./../../assets/fonts/roboto-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}