// To be able to use math.div
@use "sass:math";

// Display of the item number in the list

@mixin listItemPosition($listItemNumbers) {

  @each $itemPosition,
  $itemNumber in $listItemNumbers {
    &--#{$itemPosition}::before {
      content: $itemNumber;
      position: absolute;
      left: math.div($size-number, 2) * -1;
      background: $col-primary;
      width: $size-number;
      height: $size-number;
      border-radius: $radius-L;
      color: $col-white;
      display: grid;
      place-items: center;
      font-size: $font-size-S;

      @include media ("laptopAndUp") {
        width: $size-number * 1.1;
        height: $size-number * 1.1;
        font-size: $font-size-M;
      }
    }
  }
}

// Display a green line under the menu headings in menus pages
// Used with a pseudo element like ::after
@mixin green-line {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 2.75rem;
  border-bottom: 3px solid $col-tertiary;
  display: block;
  padding-block-start: $space-base * 0.5;

  @include media ("laptopAndUp") {
    width: 3.3rem;
  }
}