// To be able to use math.div
@use "sass:math";

// Display of the item number in the list

@mixin listItemPosition($listItemNumbers) {

  @each $itemPosition,
  $itemNumber in $listItemNumbers {
    &--#{$itemPosition}::before {
      content: $itemNumber;
      position: absolute;
      left: math.div($size-number, 2) * -1;
      background: $col-primary;
      width: $size-number;
      height: $size-number;
      border-radius: $radius-L;
      color: $col-white;
      display: grid;
      place-items: center;
      font-size: $font-size-S;

      @include media ("laptopAndUp") {
        width: $size-number * 1.1;
        height: $size-number * 1.1;
        font-size: $font-size-M;
      }
    }
  }
}