// To be able to use math.div
@use "sass:math";

/*  ====== PAGE WRAPPER ====== */

$widthWrapper: 24px;
/* max-width 1500px */
$maxWidth: 93.75rem;

/* ====== COLOR PALETTE ====== */

/* Blue */
$col-primary: hsl(267, 66%, 60%); // #9356DC
$col-secondary: hsl(317, 100%, 74%); // #FF79DA
$col-tertiary: hsl(165, 56%, 74%); // #99E2D0

$col-green-text: hsl(166, 100%, 26%);

/* Grays */
$col-black: hsl(0deg, 0%, 0%);
$col-white: hsl(0deg, 0%, 100%);
$col-grey-background-light: hsl(0, 0%, 96%);
$col-grey-background-medium: hsl(0, 0%, 92%);
$col-grey-background-dark: hsl(0, 0%, 21%);
$col-grey-border: hsl(0, 0%, 80%);
$col-grey-shadow: hsl(0, 0%, 85%);
$col-grey-icon: hsl(0, 0%, 49%);

$col-purple-light-background: hsl(268, 89%, 96%);

/* Gradients */
$gradient-button: linear-gradient(170deg, $col-secondary 0%, $col-primary 100%);

/* ====== TYPOGRAPHY ====== */
$font-size-base: 1em;

$font-size-S: 0.9rem;
$font-size-M: 1rem;
$font-size-L: 1.1rem;
$font-size-XL: 1.4rem;
$font-size-XXL: 2rem;

/* ====== FONT WEIGHT ====== */
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* ====== FONT-FAMILY ====== */
$font-family-title: 'Shrikhand',
cursive;
$font-family-text: 'Roboto',
sans-serif;

/* ====== SPACING ====== */
$space-base: 8px;
$space-XS: 16px;
$space-S: 24px;
$space-M: 32px;
$space-L: 40px;
$space-XL: 48px;

/* ====== SIZES (HEIGHT, WIDTH) ====== */
$size-XXS: 8px;
$size-XS: 16px;
$size-S: 24px;
$size-M: 32px;
$size-L: 40px;
$size-XL: 48px;
$size-XXL: 72px;

$size-number: $size-S * 0.9;

/* ====== RADIUS ====== */

$radius-cercle: 50%;
$radius-S: 5px;
$radius-M: 16px;
$radius-L: 24px;
$radius-XL: 48px;

/* ====== BREAKPOINTS ====== */

// See in the file 'layouts/_breakpoints.scss'
$tabletMin: 550;
$laptopMin: 1100;
$desktopMin: 1500;

// Min width converted to rem
// Tablet min-width : 34.375rem 
$tabletMinRem: math.div($tabletMin, 16);
// Laptop min-width : 68.75rem 
$laptopMinRem: math.div($laptopMin, 16);
// desktopMin min-width : 93.75rem 
$desktopMinRem: math.div($laptopMin, 16);
// Tablet only : between 34.375rem and 68.69rem
$tabletMaxRem: math.div($laptopMin - 1, 16);


@function breakpoints($deviceMin) {
  $device: ("tabletAndUp": "(min-width: #{$tabletMinRem}rem)",
    "laptopAndUp": "(min-width: #{$laptopMinRem}rem)",
    "desktopAndUp": "(min-width: #{$desktopMinRem}rem)",
    "tabletOnly": "(min-width: #{$tabletMinRem}rem) and (max-width: #{$tabletMaxRem}rem)"
  );
  @return map-get($device, $deviceMin);
}

@mixin media($deviceMinAndUp) {
  $deviceMinAndUp: breakpoints($deviceMinAndUp);

  @media #{$deviceMinAndUp} {
    @content;
  }
}