.footer {
  background: $col-grey-background-dark;
  padding-inline: $widthWrapper;
  padding-block: $space-S;

  .content__widthWrapper {
    @include media("laptopAndUp") {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {

    &__svg {
      fill: white;
    }
  }

  &__navList {
    @include media("tabletMediumAndUp") {
      width: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $space-S;
    }

    @include media("laptopAndUp") {
      width: auto;
      display: flex;
    }

    & li {
      padding-block-end: $space-base;

      a,
      i {
        color: $col-white;
        font-size: $font-size-M;

        @include media ("laptopAndUp") {
          font-size: $font-size-M * 1.1;
        }
      }

      a i.hands::before {
        font-size: $font-size-base * 0.65;
      }

      i {
        margin-inline-end: $space-base;
      }
    }
  }
}