.footer {
  background: $col-grey-background-dark;
  padding-inline: $widthWrapper;
  padding-block: $space-S;

  &__logo {
    // svg {
    //   margin-top: $space-S;
    // }
    &__svg {
      fill:white;
    }
  }

  &__navList li {
    padding-block-end: $space-base;

    a, i {
      color: $col-white;
    }

    a i.hands::before {
      font-size: $font-size-base * 0.65;
    }

    i {
      margin-inline-end: $space-base;
    }
  }
}