.header {

  &Logo__wrapper {
    margin-inline: $widthWrapper;

    img {
      width: 170px;
      display: block;
      margin-inline: auto;
      margin-block-start: $space-S;
      margin-block-end: $space-XS;
    }
  }
}