.header {
  animation: page 4s linear;
  
  &Logo__wrapper {
    position: relative;
    h1 {
      
      span.menu__arrow {
        position: absolute;
        left: 24px;
        top: 0;
        
        & i {
          font-size: $font-size-XL;
        }
      }
      margin-block-start: $space-S;
      margin-block-end: $space-XS;
    }
  }
}