// To be able to use math.div
@use "sass:math";

.main {
  // ==== Section location ====

  .location {
    // ---- Location form ----

    &__form__backgroundWrapper {
      background: $col-grey-background-medium;
      box-shadow: inset 2px 2px 5px $col-grey-border;
    }

    &__form {

      &__searchBarWrapper {
        margin-inline: auto;
        width: 170px;
      }

      i {
        font-size: $font-size-L;
      }

      input {
        border: transparent;
        background: transparent;
        height: $size-XL;
        width: 150px;
        font-size: $font-size-M;
        padding-inline: $space-base * 1.5;
      }
    }

    // ---- Location content ----

    &__content__backgroundWrapper {
      background: $col-grey-background-light;
    }

    &__content {
      padding-inline: $widthWrapper;
      padding-block-start: $space-L;
      padding-block-end: $space-L * 1.3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__heading {
        text-align: center;
        font-weight: $font-weight-bold;
        padding-inline: $space-XS;
        margin-block-end: $space-base * 1.5;
      }

      &__description {
        text-align: center;
        margin-block-end: $space-M;
      }

      &__button {
        width: fit-content;
        margin-inline: auto;
        height: $size-XL;
        width: 215px;
        font-size: $font-size-S;
        padding-inline: $space-base * 1.5;
        background: $gradient-button;
        border: transparent;
        border-radius: $radius-XL;
        font-weight: $font-weight-bold;
        box-shadow: 2px 2px 5px 4px $col-grey-shadow;
        cursor: pointer;
      }

      &__button span {
        color: $col-white;
      }
    }
  }

  //  ==== Section functioning ====

  .functioning {
    padding-inline: $widthWrapper;
    padding-block-start: $space-L;
    padding-block-end: $space-L * 1.3;

    &__heading {
      margin-block-end: $space-M;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-content: center;

      @include media ("tabletMediumAndUp") {
        flex-direction: row;
        justify-content: space-between;
        gap: $space-S;
      }
    }

    // Display of the item number in the list
    //in the functioning section
    &__list__item {
      $listItemNumbers: (1: "1",
          2: "2",
          3: "3",
        );

      @include listItemPosition($listItemNumbers);
    }

    &__list li {
      position: relative;
      display: flex;
      align-items: center;
      // $size-number is the width of the number of the li ($size-S * 0.9)
      margin-inline-start: math.div($size-number, 2);
      height: $size-XXL;
      background: $col-grey-background-light;
      border-radius: $radius-L;
      margin-block-end: $space-S;
      box-shadow: 2px 2px 10px 2px $col-grey-shadow;

      @include media ("tabletMediumAndUp") {
        // so that the items occupy the entire width of the page
        flex-grow: 1;
      }

      &:last-child {
        margin-block-end: revert;
        background: $col-purple-light-background;
      }

      i {
        font-size: $font-size-L;
        color: $col-grey-icon;
        padding-inline-start: $space-M;
      }

      &:last-child i {
        color: $col-primary;
      }

      span {
        padding-inline: $space-S;
      }
    }
  }

  // ==== Section restaurants ====

  .restaurants {
    padding-inline: $widthWrapper;
    background: $col-grey-background-light;
    padding-block-start: $space-L;
    padding-block-end: $space-L * 1.3;

    &__heading {
      margin-block-end: $space-M;
    }

    &__cards {
      display: grid;
      gap: $space-XS;
      grid-template-columns: repeat(auto-fill, minmax(min(420px, 100%), 1fr));

      @include media("tabletMediumAndUp") {
        grid-template-columns: repeat(auto-fill, minmax(min(340px, 100%), 1fr));
      }

      @include media("laptopAndUp") {
        grid-template-columns: repeat(auto-fill, minmax(min(480px, 100%), 1fr));
      }

      @include media("desktopAndUp") {
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
      }
    }

    &__card__wrapper {
      // radius around the card image
      border-radius: $radius-L;
      box-shadow: 1px 1px 10px 2px $col-grey-shadow;
    }

    &__card {
      display: grid;
      grid-template-areas:
        'image'
        'heading'
        'description';
      background-color: $col-white;
      border-radius: $radius-L;
      position: relative;

      // restaurants card img
      &Img,
      &Img__container {
        border-start-start-radius: $radius-L;
        border-start-end-radius: $radius-L;
      }

      &Img__container.new {
        &::before {
          content: "Nouveau";
          position: absolute;
          top: 5%;
          right: 5%;
          width: 75px;
          height: 27px;
          color: $col-green-text;
          background-color: $col-tertiary;
          border-radius: $radius-S * 0.5;
          display: grid;
          place-items: center;
          font-size: $font-size-S;
        }
      }

      &Img {
        height: 165px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;

        @include media ("tabletSmallAndUp") {
          height: 240px;
          object-position: 50% 80%;
        }

        @include media ("tabletMediumAndUp") {
          height: 210px;
          object-position: 50% 75%;
        }

        @include media("laptopAndUp") {
          height: 230px;
          object-position: 50% 70%;
        }
      }

      // centering of the 2nd img
      &__wrapper:nth-child(2) img {
        object-position: 50% 60%;
      }

      // Card heading, heart and description
      &__content__wrapper {
        padding-inline: $space-XS;
      }

      &Heading {
        padding-block-start: $space-base * 1.5;
        display: flex;
        justify-content: space-between;
        position: relative;

        span {
          z-index: 2;
        }

        // heart to click
        img.heart {
          width: 25px;
          position: relative;
          bottom: -6px;
          margin-inline-end: $space-base;
          z-index: 3;
        }
      }

      &Description {
        padding-block-end: $space-XS;
      }
    }
  }
}