// To be able to use math.div
@use "sass:math";

.main__menu {
  display: flex;
  flex-direction: column;

  // ===========================
  // ==== Section menuTitle ====
  // ===========================

  .menuTitle {

    &__backgroundWrapper {
      position: relative;

      &__img {
        object-fit: cover;
        width: 100%;
        height: 260px;

        @include media ("tabletSmallAndUp") {
          height: 330px;
          object-position: 50% 65%;
        }

        @include media ("tabletMediumAndUp") {
          height: 440px;
          object-position: 50% 60%;
        }

        @include media ("laptopAndUp") {
          height: 500px;
          object-position: 50% 60%;
        }

        @include media ("desktopAndUp") {
          height: 560px;
          object-position: 50% 60%;
        }
      }
    }

    &__content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: $space-XL * 0.9 * -1;
      padding-inline: $widthWrapper;
      padding-block-start: $space-M;
      padding-block-end: $space-XS;
      border-start-start-radius: $radius-XL * 0.9;
      border-start-end-radius: $radius-XL * 0.9;
      background: $col-grey-background-light;

      // h2
      &__heading {
        font-family: $font-family-title;
        font-weight: normal;
        font-size: $font-size-XXL * 0.85;
        margin-block-end: $space-base * 1.5;
        display: flex;
        justify-content: flex-start;
        position: relative;

        @include media ("laptopAndUp") {
          font-size: $font-size-XXL;
          justify-content: center;
        }

        span {
          position: relative;
          height: 30px;
          left: $space-S * 1.2;

          &:hover>.menu-heart-icon-filled {
            animation: menu-heart-fill 350ms ease both;
          }

          &:hover>.menu-heart-icon {
            opacity: 0;
          }

          i.menu-heart-icon {
            font-size: $font-size-XL;
            margin-inline-end: $space-S * 0.9;
            transition: opacity 500ms;
            z-index: 2;

            @include media ("laptopAndUp") {
              font-size: $font-size-XXL;
            }
          }

          @keyframes menu-heart-fill {
            0% {
              transform: scaleY(0);
              opacity: 0;
            }

            17% {
              transform: scaleY(.18);
            }

            24% {
              transform: scaleY(.4);
            }

            46% {
              transform: scaleY(.81);
            }

            100% {
              transform: scaleY(1);
              opacity: 1;
            }
          }

          i.menu-heart-icon-filled {
            position: absolute;
            top: 5px;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: $font-size-XL;
            background: $gradient-heart;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transform-origin: center center;
            transform: scaleY(0);
            z-index: 1;

            @include media ("laptopAndUp") {
              font-size: $font-size-XXL;
              top: 0;
            }
          }
        }
      }
    }
  }

  // ==========================
  // ==== Section menuList ====
  // ==========================
  .menuList {

    .menuList__content {
      @include media ("tabletMediumAndUp") {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        background: $col-grey-background-light;
        column-gap: $space-S;
      }

      @include media ("laptopAndUp") {
        column-gap: 100px;
      }
    }

    // ==== Section menuCard ====

    .menuCard {
      background: $col-grey-background-light;

      &__content {
        padding-inline: $widthWrapper;
        padding-block: $space-L * 0.5;

        @include media ("laptopAndUp") {
          padding-inline: 100px;
        }
      }

      &:first-child {
        .menuCard__content {
          padding-block-start: $space-XL;
        }

        @include media ("tabletMediumAndUp") {
          grid-column: 1 / span 2;

          .menuCard__content {
            padding-inline-end: 0;
          }
        }
      }

      &:nth-child(2) {
        @include media ("tabletMediumAndUp") {
          grid-column: 3 / span 2;

          .menuCard__content {
            padding-block-start: $space-XL;
            padding-inline-start: 0;
          }
        }
      }

      &:last-child {
        @include media ("tabletMediumAndUp") {
          grid-column: 2 / span 2;
        }

        .menuCard__content {
          padding-block-end: $space-XL;
        }

        @include media ("laptopAndUp") {
          .menuCard__content {
            padding-inline: 50px;
          }
        }
      }

      // h3
      &__heading {
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        margin-block-end: $space-XS * 1.2;
        position: relative;

        // green line under heading
        &::after {
          @include green-line;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: $space-XS;

        // Menu group of dish on the same row
        @include media ("laptopAndUp") {

          &>div {
            width: 100%;
          }
        }
      }

      @keyframes menu-appear {
        0% {
          transform: translateY(30px);
          opacity: 0;
        }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @mixin menu-appear-delay() {
        $delay: 200ms;
        $child: 1;

        @for $i from 1 to 4 {
          &:nth-child(#{$child}) {
            animation: menu-appear 700ms #{$delay } ease-out both;
            $delay: $delay + 200ms;
            $child: $child + 1;
          }
        }
      }

      &__list li {
        // menu appearance animation
        @include menu-appear-delay;
      }

      &__list li {
        position: relative;
        height: $size-XXL * 0.9;
        background: $col-white;
        border-radius: $radius-M;
        box-shadow: 2px 2px 10px 2px $col-grey-shadow;
        z-index: 1;
        overflow: hidden;

        display: grid;
        align-items: center;
        padding-inline: $space-base * 1.1;

        @include media ("tabletSmallAndUp") {
          height: $size-XXL;
        }

        @include media ("tabletMediumAndUp") {
          // so that the items occupy the entire width of the page
          flex-grow: 1;
        }

        @include media ("laptopAndUp") {
          padding-inline: $space-XS;
        }

        & h4 {
          margin-block-end: $space-base * 0.7;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        & article .list__item__desc__wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: $font-size-S;
          font-weight: $font-weight-bold;
          margin-inline-end: $space-base * 1.5;

          & div {
            // for the price to translate on the left when the item is hovered
            transform: translateX(0);
            transition: transform 700ms;
          }
        }

        & h4 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        & p {
          font-size: $font-size-S;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &::before {
          content: "\f058";
          position: absolute;
          right: -2.5rem;
          color: $col-white;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: $font-size-XL;
          transform: translateX(0) rotate(0);
          transition: transform 400ms ease-in, rotate 1000ms;
          z-index: 1;
        }

        &:hover {
          &::before {
            transform: translateX($size-XXL * -0.85) rotate(-1turn);

            @include media ("tabletSmallAndUp") {
              transform: translateX($size-XXL * -0.9) rotate(-1turn);
            }
          }
        }

        //  list item green background color for the selected dishes
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background: $col-tertiary;
          border-start-end-radius: $radius-M;
          border-end-end-radius: $radius-M;
          opacity: 1;
          // same width as the 'li' height
          width: $size-XXL * 0.9;
          transform: translateX(100%);
          z-index: -1;
          transition: transform 400ms ease-in, opacity 400ms ease-in;

          // same width as the 'li' height
          @include media ("tabletSmallAndUp") {
            width: $size-XXL;
          }
        }

        // list item green background color on hover
        &:hover {
          &::after {
            opacity: 0.9;
            transform: translateX(0);
            margin: auto;
          }

          // price translate on the left - same value as the green background
          & .list__item__desc__wrapper div {
            transform: translateX(($size-XXL * 0.9) * -1);

            @include media ("tabletSmallAndUp") {
              transform: translateX($size-XXL * -1);
            }

          }

          // to trigger the ellipsis on h4 and p when hovering
          & h4 {
            width: 60%;
          }

          & p {
            width: 65%;
          }
        }
      }
    }

    // ==== End section menuCard ====

    // === Button (component) ===
    @include button {
      display: block;
      margin-block-start: $space-M * 1.3;
      margin-left: auto;
      margin-right: auto;
      padding-inline: $space-L * 1.1;
      height: $size-L * 1.1;

      @include media ("laptopAndUp") {
        padding-inline: $space-L * 1.2;
        height: $size-L * 1.4;
      }
    }
  }
}